@import url(http://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800,300,200);
/*************************
*******Typography*********
**************************/

body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

body,
.preloader {
  background: -webkit-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* W3C */   
}

h1,h2,h3,h4,h5,h6 {
  color: #fff !important;
}

ul {
  list-style: none;
  padding: 0
}


a {
  color:#fff;
  text-decoration: none;
  -webkit-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none;
  color: rgba(255,255,255,.5);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
}

.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}

/*************************
*******Navigation CSS*****
**************************/

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 9999;
}

#header .container {
  height: 100px;
  display: table;
}

#header .container-inner {
  display: table-cell;
  vertical-align: middle;
}

#header .logo h1 {
  margin: 0;
}

#header .nav-button{
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
}

#navigation {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.8);
  z-index: 99999;
  text-align: center;
  display: none;
}

.main-nav {
  background-color: #fff;
  width: 400px;;
  display: inline-block;
  position: relative;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  display: block;  
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-nav ul li a {
  display: block;
  border-top: 1px solid #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  color:#5e5e5e;
}

.main-nav ul li:first-child a {
  border-top: 0;
}

.main-nav ul li:hover a,
.main-nav ul li.active a {
  background-color: #333;
  color: #999;
}

#hidemenu {
  display: inline-block;
  position: absolute;
  top: -30px;
  right: -30px;
  color: #666;
}

#hidemenu:hover {
  color: #000;
}

/*************************
*******Home Page CSS******
**************************/

#home-page .caption {
  font-weight: 600;
  font-size: 18px;
}

#home-page h2.heading {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
}

#page-slider > .carousel-inner,
#page-slider .item > .container {
  height: 100%;
}

#page-slider .item > .container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
}

.vertical-middle {
  height: 100%;
  width: 100%;
  display: table;
}

.vertical-middle > div {
  display: table-cell;
  vertical-align: middle;
}

#welcome-page {
  margin-top: 130px;
}


#page-slider .item {
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-page-left {
  left:20px;
}

.welcome-page-right {
  right:20px;
}

.welcome-page-left, 
.welcome-page-right {
  position: absolute;
  top: 50%;
  margin-top:-35px;
  font-size: 57px;
  z-index: 10;
}

.page-header {
  font-size: 64px;
  line-height: 64px;
  border: 0;
  padding: 0;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 100px;
}

.entry-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.overlay-container {
  display: block;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

a.readmore {
  font-size: 36px;
  line-height: 36px;
}

.box {
  background: rgba(0,0,0,.2);
  padding: 20px;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

.box:hover {
  background: rgba(0,0,0,.5);
}

#footer {
  margin: 30px 0;
}


/*************************
*****Contact Page CSS*****
**************************/

.btn {
  border: 0;
  border-radius: 0;
  -webkit-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}

.btn.btn-transparent {
  background: rgba(0,0,0,.5);
  color: #fff;
}

.btn.btn-transparent:hover {
  background: rgba(255,255,255,.3);
  color: #fff;
}

input[type="text"].form-control,
input[type="email"].form-control,
input[type="password"].form-control,
input[type="url"].form-control,
textarea.form-control {
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 2px solid rgba(255,255,255,.5);
}

.form-control::-webkit-input-placeholder {
 color: rgba(255,255,255,.8);
}

.form-control:-moz-placeholder {
 color: rgba(255,255,255,.8);  
}

.form-control::-moz-placeholder {
 color: rgba(255,255,255,.8); 
}

.form-control:-ms-input-placeholder {  
 color: rgba(255,255,255,.8);
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


.content {
    margin-top: 200px;
}

#diamond {
  cursor: pointer;
  color: white;
  width: 100px;
  height: 100px;
  /* Rotate */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* Rotate Origin */
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  background: linear-gradient(238deg, #435434, #ffffff);
  background-size: 400% 400%;
  -webkit-animation: dynamicGrad 9s ease infinite;
  -moz-animation: dynamicGrad 9s ease infinite;
  -o-animation: dynamicGrad 9s ease infinite;
  animation: dynamicGrad 9s ease infinite;
}
#diamondText {
  margin-left: 8px;
  text-align: center;
  color: white;
  font-size: large;
  -webkit-transform: rotate(45deg) translate3d( 0, 0, 0);
  -moz-transform: rotate(45deg) translate3d( 0, 0, 0);
  -ms-transform: rotate(45deg) translate3d( 0, 0, 0);
  -o-transform: rotate(45deg) translate3d( 0, 0, 0);
  transform: rotate(45deg) translate3d( 0, 0, 0);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;


}
/* Reveal */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098d1;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}


@-webkit-keyframes dynamicGrad {
  0%{background-position:0% 28%}
  50%{background-position:100% 73%}
  100%{background-position:0% 28%}
}
@-moz-keyframes dynamicGrad {
  0%{background-position:0% 28%}
  50%{background-position:100% 73%}
  100%{background-position:0% 28%}
}
@-o-keyframes dynamicGrad {
  0%{background-position:0% 28%}
  50%{background-position:100% 73%}
  100%{background-position:0% 28%}
}
@keyframes dynamicGrad {
  0%{background-position:0% 28%}
  50%{background-position:100% 73%}
  100%{background-position:0% 28%}
}

